@use 'variaveis';

.available-devices {
    padding: 5.6vw;

    h2 {
        text-align: center;
        border-bottom: 5px solid variaveis.$corTextoterciario;
        padding-bottom: 5px;
    }

    &__list {
        display: grid;
        gap: 24px;/*espaçamento entre as colunas*/
        grid-template-columns: repeat(4, 1fr);
        margin-top: 20px;

        @media (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr); /*2 colunas em telas menores*/
        }

        &__item {
            text-align: center;

            h4 {
                margin-top: 20px;
                margin-bottom: 24px;
            }

            img {
                max-width: 100%;
            }
        }
    }
}