@use 'variaveis';

.combos {
    padding: 2vw 5.6vw;
    
    

    h2 {
        color: variaveis.$corTextoSecundario;
        border-bottom: 5px solid variaveis.$corDeLinhaDeSecao;
        padding-bottom: 5px;
        text-align: center;
    }

    &__list {
        display: flex;
        justify-content: space-around;
        margin-top: 5px;
    }

    

    &__item {
        padding: 60px 44px 44px;
        max-width: 80px;
        width: 100%;
        text-align: center;
    }

    button {
        margin-left: 5px;
        padding: 15px 50px;
        border-radius: 50px;
        cursor: pointer;
        background-color: variaveis.$corDosBotoes;
        font-size: 20px;
        border: 1px solid variaveis.$corDeFundo;

        &:hover {
                background-color: adjust-color(variaveis.$corDosBotoes, $lightness: 10%);
            }
        
    }

    strong {
        text-align: center;
        display: block;
        margin-top: 24px;
    }

    P {
        text-align: center;
        margin-top: 50px;
        color: variaveis.$corTextoSecundario;
        
    }
    
}
