@use 'variaveis';

.combos {
    padding: 3.6vw;
    text-align: center;
    

    h2 {
        color: variaveis.$corTextoSecundario;
        border-bottom: 5px solid rgb(231, 193, 24);
        padding-bottom: 5px;
    }

    &__list {
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
    }

    

    &__item {
        padding: 60px 44px 44px;
        max-width: 380px;
        width: 100%;
    }

    button {
        padding: 20px;
        border-radius: 50px;
        cursor: pointer;
        background-color: rgb(226, 48, 17);
        font-size: 20px;
        
    }

    strong {
        text-align: center;
        display: block;
        margin-top: 24px;
    }

    P {
        text-align: center;
        margin-top: 50px;
        color: variaveis.$corTextoSecundario;
    }
    
}
