@use 'variaveis';

.hero {
    padding: 1vw;
    background-size: 100%;//tamanho do fundo
    background-image: url(../images/hero_imagem.jpg);
    background-repeat: no-repeat;//não repetição da imagem
    background-position: center;

    @media (max-width: 768px) {
            width: 90vw;
    }

    img {
        width: 50vw;

        @media (max-width: 768px) {
            width: 30vw;
        }
    }

    .button {
        margin-top: 2vw;
        margin-bottom: 8px;
    }

    &__content {
        max-width: 300px;
    }

    .title--small {
        padding-top: 10px;
        font-size: medium;

        @media (max-width: 768px) {
            font-size: 9px;
            line-height: 1.2;
            width: 60%;
            
        }
    }
    
}
