@use 'variaveis';

.hero {
    padding: 1vw;
    background-size: 100%;//tamanho do fundo
    background-image: url(../images/hero_imagem.jpg);
    background-repeat: no-repeat;//não repetição da imagem
    background-position: center;

    img {
        width: 50vw;
    }

    &__content {
        max-width: 300px;
    }

    .title--small {
        padding-top: 10px;
        font-size: medium;
    }
    
}
