@use 'variaveis';

.shows {
    padding: 2vw 5.6vw;

    h2 {
        color: variaveis.$corTextoSecundario;
        border-bottom: 5px solid variaveis.$corDeLinhaDeSecao;
        padding-bottom: 5px;
        text-align: center;
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 18px;
        padding-top: 15px;

        &__item {
            img {
                width: 100%;
                border-radius: 8px;
                cursor: pointer;

                &:hover {
                    transform: scale(1.05);
                    transition: transform 0.3s;
                }
            }
        }
    }
}