$corDeFundo: rgb(44, 44, 40);
$corTextoPrincipal: rgb(192, 171, 171);
$corTextoSecundario: #f9f9f9;
$corTextoTerciario: black;
$corDeLinhaDeSecao: rgb(231, 193, 24);
$corDosBotoes:rgb(226, 48, 17);
$corDeFundoBotaoAssine: rgba(214, 236, 11, 0.801);
$corDeFundoBotaoLogin: black;