@use 'combos';
@use 'hero';
@use 'variaveis';
@use 'available-devices';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}



body {
    background-color: variaveis.$corDeFundo;

}


/*criação de 3 classes de FONTE P/ OS TEXTOS*/
@mixin text($fontSize: 18px) {/*mixin / text->nome do mixin / $fonteSize->argumento / 16px->tamanho padrão*/
    font-size: $fontSize;/*font-size -> tamanho da fonte*/
    line-height: $fontSize + 10px;/*line-height -> altura da linha*/
    color: variaveis.$corTextoPrincipal;
}

/*criação de 3 classes de FONTE P/ OS TÍTULOS*/
@mixin title ($fontSize: 40px) {/*mixin / text->nome do mixin / $fonteSize->argumento / 28px->tamanho padrão*/
    @include text($fontSize);
    color: variaveis.$corTextoSecundario;
}


/*fonte grande "1"*/
.text--big {
    @include text(20px);
}

/*fonte média "2"*/
.text {
    @include text;
}

/*fonte pequena "3"*/
.text--small {
    @include text(15px);
}

/*criação de 1 classes de fonte para os links*/
.link-text {
    @include text(18px);
    color: variaveis.$corTextoSecundario;
    text-decoration: underline;
}


/*criação de 3 classes de FONTE P/ OS TÍTULOS*/
/*fonte grande "1"*/
.title--big {
    @include title(50px);
}

/*fonte média "2"*/
.title {
    @include title;
}

/*fonte pequena "3"*/
.title--small {
    @include title(25px);
}
